<h2>Ruby on Rails Guides (<%= @edge ? @version[0, 7] : @version %>)</h2>

<% if @edge %>
<p>
  These are <b>Edge Guides</b>, based on the current <a href="https://github.com/rails/rails/tree/<%= @version %>">master</a> branch.
</p>
<p>
  If you are looking for the ones for the stable version, please check
  <a href="http://guides.rubyonrails.org">http://guides.rubyonrails.org</a> instead.
</p>
<% else %>
<p>
  这里是最新的 Rails 4.0 Guide , 基于 <a href="https://github.com/rails/rails/tree/<%= @version %>"><%= @version %></a>.
  这些 Guides 用来帮你快速的了解 Rails, 让你使用 Rails 更加得心应手, 帮你了解 Rails 中的各个部分是如何结合在一起的。
</p>
<p>
这里是<a href="http://guides.rubyonrails.org/">英文原版</a>
</p>
<% end %>
<p>
  Rails 3.2.x Guides 请看 <a href="http://guides.rubyonrails.org/v3.2.14/">http://guides.rubyonrails.org/v3.2.14/</a>.
</p>
<p>
  Rails 2.3.x Guides 请看 <a href="http://guides.rubyonrails.org/v2.3.11/">http://guides.rubyonrails.org/v2.3.11/</a>.
</p>
